body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
}

header {
  position: sticky;
  background: #0a1f44;
  color: white;
  padding: 15px;
}

.controls {
  padding: 15px;
  display: flex;
  gap: 10px;
}

input,
select {
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #1d3557;
  color: white;
  padding: 10px;
  text-align: left;
  padding-left: 12px;
}
.table-section {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  padding: 20px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.mismatch {
  background-color: #ffe5e5;
}

.high {
  color: red;
  font-weight: bold;
}
.kpi-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.kpi {
  flex: 1;
  background: #1d3557;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

.kpi span {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.red {
  background: #d62828;
}
.orange {
  background: #f77f00;
}
.green {
  background: #2a9d8f;
}
.alert {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
}

.alert.hidden {
  display: none;
}

.alert.red {
  background: #d62828;
}

.alert.orange {
  background: #f77f00;
}

.alert.green {
  background: #2a9d8f;
}
.filterBtn {
  padding: 6px 14px;
  border: 1px solid #0a1f44;
  background: rgb(127, 125, 125);
  cursor: pointer;
  margin-right: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.filterBtn.active {
  background: #e8ecf0;
  color: rgb(6, 5, 50);
}
.aging-orange {
  color: #f77f00;
  font-weight: 600;
}

.aging-red {
  color: #d62828;
  font-weight: 700;
}
.skill-filter-container {
  position: relative;
  display: inline-block;
}

.skill-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background: rgb(170, 165, 165);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  min-width: 150px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skill-dropdown.hidden {
  display: none;
}

.skill-dropdown label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}
.primaryBtn {
  background: #1d3557;
  color: white;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-content input,
.modal-content textarea {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.modal-content select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
