.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.max-h-\[500px\] {
  max-height: 500px;
}
.min-h-screen {
  min-height: 100vh;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.overflow-y-auto {
  overflow-y: auto;
}
.rounded-full {
  border-radius: 3.40282e38px;
}
